body {
    background-color: #ffeadc;
    font-size: 1.3rem;
}
*{
    text-transform: uppercase !important;
}

/**/
.blink th.t {
    border: 1px solid red;
    width: 50px;
}

.blink th.top {
    border-bottom: 1px dashed black;
}
.blink th.left {
    border-right: 0px dashed black;
}
.blink th.right {
    border-left: 0px dashed black;
}
.blink th.bottom {
    border-top: 1px dashed black;
}
.blink th.middle {
    border: 0px dashed black;
}

.blink th{
    -webkit-animation: pulse-border 2s infinite;
}

@-webkit-keyframes pulse-border {
    from, to { box-shadow: 0 0 0 0 black;}
    50% { box-shadow: 0 0 0 2px black; }
}
/**/


.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.mainbannerrow {
   background-color: #2e6167 !important;

}

a, a:hover{
    text-transform: uppercase !important;
    color: #000;
}

.mainbanner {
    padding: 5px;
    height: 50px;
}

.table td{
    border-top: 0px !important;
}
.secundario {
    color: white;
    padding: 20px;
    background-color: #2e6167;
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.axx {
    height: 200px !important;
    width: 200px !important;
}

.esqueleto {
   /* border: none !important;*/
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(46, 97, 103, 0.9);
    color: white;
    text-align: center;
}
/*estilo de accesos directos*/
.notcontainer {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
}

.notcontainer .notcontent {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #FFFFFF; /* Grey text */
    width: 100%; /* Full width */
    padding: 0px; /* Some padding */
    height: 50px;
}

#detailModal {
    background-color: rgba(0,0,0,0.9);
}

.modal-box {
    color: white;
    background-color: #6d2e2e;
}